@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Andy Sans";
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/AeonikPro-Roman-VF.woff2") format("woff2-variations"),
      url("/fonts/AeonikPro-Roman-VF.woff2") format("woff2"),
      url("/fonts/AeonikPro-Roman-VF.ttf") format("truetype-variations");
  }
  @font-face {
    font-family: "Andy Mono";
    src: url("/fonts/AeonikFono-Regular.woff2") format("woff2"),
      url("/fonts/AeonikFono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  .delay-none {
    @apply delay-0;
  }

  .delay-to-0 {
    @apply delay-0;
  }

  .delay-to-400 {
    @apply delay-400;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .opacity-to-100 {
    @apply opacity-100;
  }

  .scale-to-90 {
    @apply scale-90;
  }

  .scale-to-100 {
    @apply scale-100;
  }

  .size-screen {
    @apply w-screen h-screen;
  }

  .visible-in {
    @apply visible;
  }
}

a,
button {
  @apply bg-transparent outline-8 focus-visible:ring-0 focus-visible:outline-gray-800 dark:focus-visible:outline-white/80;
}

a {
  @apply focus-visible:outline-offset-4;
}
